h1 {
    font-family: Helvetica;
    text-align: center;
    font-size: 48px;
    color: black;
  }
  
  body {
    font-family: Verdana;
  }
  
  article {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  article figure img {
    border: medium solid black;
    border: thick double;
  }
  
  article figure figcaption {
    text-align: center;
  }
  
  article p img {
    border: medium solid black;
    border: thick double;
  }
  
  article p {
    color: black;
  }

  ul {
    list-style: none;
    padding: 0;
    border: 1px medium solid black;
    border: thick double;
  }
  
  ul li a{
    color: #2d4294;
    text-decoration: none;
  }

  screenreader-text:focus {
    color: black;
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
  }